@model BankOfSimba1.ViewModels.AnimalsListViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Balance</th>
            <th>Animal Type</th>
            <th>Is a king</th>
            <th>Is bad guy</th>
            <th>Add Balance</th>
        </tr>
        @for (int i = 0; i < @Model.AnimalsAccounts.Count; i++)
        {
            bool isbad = false;
            bool isKing = false;
            string background_color = "white";
            @if (@Model.AnimalsAccounts[i].AnimalType == "lion")
            {
                background_color = "gold";
                isKing = true;
            }
            @if (Model.AnimalsAccounts[i].IsBad)
            {
                isbad = true;
            }
            <tr style="background-color: @background_color ">
                <td>@(i+1) .</td>
                <td>@Model.AnimalsAccounts[i].Name </td>
                <td>@Model.AnimalsAccounts[i].Balance </td>
                <td>@Model.AnimalsAccounts[i].AnimalType </td>
                <td>@isKing</td>
                <td>@isbad</td>
                <td>
                    <div class="form-group">
                        <form action="Edit/@i" method="post">
                            <label for="@i" class="control-label"></label>
                            <input type="submit" name="@i" value="Add" class="btn btn-primary" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </table>

</body>
</html>
