@model ListingTodos.Models.AssigneeViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Edit Assignee</h1>
    @using (Html.BeginForm("EditAssignee", "Assignee", FormMethod.Post))
    {
        <div>
            @Html.HiddenFor(a => a.Assignee.Id)
            @Html.Label("Assignee name")
            @Html.TextBoxFor(model => model.Assignee.Name)
        </div>
        <div>
            @Html.LabelFor(model => model.Assignee.Email)
            @Html.TextBoxFor(model => model.Assignee.Email)
        </div>
        <div>
            <button type="submit">Submit</button>
            <a asp-controller="Assignee" asp-action="ListOfAssignees">Cancel</a><br />
        </div>
    }


</body>
</html>  